USE [master]
GO
/****** Object:  Database [Fitness]    Script Date: 27.08.2025 14:10:13 ******/
CREATE DATABASE [Fitness]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FitnessApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.EMİR\MSSQL\DATA\FitnessApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FitnessApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.EMİR\MSSQL\DATA\FitnessApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Fitness].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Fitness]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 27.08.2025 14:10:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](60) NULL,
	[Sifre] [nvarchar](60) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Aletler]    Script Date: 27.08.2025 14:10:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aletler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AletAdi] [nvarchar](50) NULL,
	[Aciklama] [nvarchar](500) NULL,
	[Dizin] [nvarchar](max) NULL,
 CONSTRAINT [PK_Aletler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EgzersizProgram1]    Script Date: 27.08.2025 14:10:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EgzersizProgram1](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Gün] [nvarchar](50) NULL,
	[Egzersiz] [nvarchar](50) NULL,
	[Set] [nvarchar](50) NULL,
	[Tekrar] [nvarchar](50) NULL,
	[Not] [nvarchar](50) NULL,
 CONSTRAINT [PK_EgzersizProgramları] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EgzersizProgram2]    Script Date: 27.08.2025 14:10:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EgzersizProgram2](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Gün] [nvarchar](50) NULL,
	[Egzersiz] [nvarchar](50) NULL,
	[Set] [nvarchar](50) NULL,
	[Tekrar] [nvarchar](50) NULL,
	[Not] [nvarchar](50) NULL,
 CONSTRAINT [PK_eegzersizProgram2] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EgzersizProgram3]    Script Date: 27.08.2025 14:10:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EgzersizProgram3](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Gün] [nvarchar](50) NULL,
	[Egzersiz] [nvarchar](50) NULL,
	[Set] [nvarchar](50) NULL,
	[Tekrar] [nvarchar](50) NULL,
	[Not] [nvarchar](50) NULL,
 CONSTRAINT [PK_EgzersizProgram3] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[İcecekFiyat]    Script Date: 27.08.2025 14:10:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[İcecekFiyat](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ürün] [nvarchar](50) NULL,
	[Fiyat] [nvarchar](50) NULL,
 CONSTRAINT [PK_İcecekFiyat] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 27.08.2025 14:10:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](50) NULL,
	[Sifre] [nvarchar](50) NULL,
	[Ad] [nvarchar](50) NULL,
	[Soyad] [nvarchar](50) NULL,
	[Cinsiyet] [nvarchar](50) NULL,
	[DogumTarihi] [date] NULL,
	[Mail] [nvarchar](50) NULL,
	[Kilo] [nvarchar](50) NULL,
	[Program] [nvarchar](50) NULL,
 CONSTRAINT [PK_Kullanicilar] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uyeler]    Script Date: 27.08.2025 14:10:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uyeler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NULL,
	[Soyad] [nvarchar](50) NULL,
	[Cinsiyet] [nvarchar](20) NULL,
	[DoğumTarihi] [date] NULL,
	[Mail] [nvarchar](50) NULL,
	[Kilo] [nvarchar](50) NULL,
	[TelNo] [nchar](10) NULL,
	[ÜyelikBitiş] [date] NULL,
	[ÜyelikTürü] [nvarchar](50) NULL,
	[Durum] [bit] NULL,
 CONSTRAINT [PK_Üyeler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UyelikFiyat]    Script Date: 27.08.2025 14:10:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UyelikFiyat](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Üyelik] [nvarchar](50) NULL,
	[Fiyat] [nvarchar](50) NULL,
 CONSTRAINT [PK_UyelikFiyat] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([ID], [KullaniciAdi], [Sifre]) VALUES (2, N'emir', N'123')
INSERT [dbo].[Admin] ([ID], [KullaniciAdi], [Sifre]) VALUES (5, N'admin', N'123')
INSERT [dbo].[Admin] ([ID], [KullaniciAdi], [Sifre]) VALUES (7, N'a', N'b')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Aletler] ON 

INSERT [dbo].[Aletler] ([ID], [AletAdi], [Aciklama], [Dizin]) VALUES (21, N'Dumbell', N'Kasları izole ederek kuvvet kazanımı sağlar, kol ve omuz egzersizleri için idealdir.', N'C:\Users\EY\source\repos\FitnessUyg\FitnessUyg\bin\Debug\Images\33e24aa6-ff5f-4417-9455-748815d63a92.png')
INSERT [dbo].[Aletler] ([ID], [AletAdi], [Aciklama], [Dizin]) VALUES (22, N'Koşu Bandı', N'Kardiyo performansını artırır, kalp sağlığını destekler ve yağ yakımını hızlandırır.', N'C:\Users\EY\source\repos\FitnessUyg\FitnessUyg\bin\Debug\Images\e239baee-69be-47d7-82b3-f4375d05e357.png')
INSERT [dbo].[Aletler] ([ID], [AletAdi], [Aciklama], [Dizin]) VALUES (23, N'Bench Press', N'Göğüs, omuz ve triceps kaslarını güçlendirmek için temel kuvvet egzersizidir.', N'C:\Users\EY\source\repos\FitnessUyg\FitnessUyg\bin\Debug\Images\6e9b99db-9e01-4607-b7a9-16fc2f7ed903.png')
SET IDENTITY_INSERT [dbo].[Aletler] OFF
GO
SET IDENTITY_INSERT [dbo].[EgzersizProgram1] ON 

INSERT [dbo].[EgzersizProgram1] ([ID], [Gün], [Egzersiz], [Set], [Tekrar], [Not]) VALUES (1, N'Pazartesi', N'Koşu Bandı (Kardiyo)	', N'1', N'30 dk	', N'Orta tempoda
')
INSERT [dbo].[EgzersizProgram1] ([ID], [Gün], [Egzersiz], [Set], [Tekrar], [Not]) VALUES (2, NULL, N'Jumping Jacks	', N'3', N'20', NULL)
INSERT [dbo].[EgzersizProgram1] ([ID], [Gün], [Egzersiz], [Set], [Tekrar], [Not]) VALUES (3, NULL, N'Şınav', N'4', N'12', NULL)
SET IDENTITY_INSERT [dbo].[EgzersizProgram1] OFF
GO
SET IDENTITY_INSERT [dbo].[EgzersizProgram2] ON 

INSERT [dbo].[EgzersizProgram2] ([ID], [Gün], [Egzersiz], [Set], [Tekrar], [Not]) VALUES (1, N'Pazartesi ', N'Bench Press ', N'4', N'10', NULL)
INSERT [dbo].[EgzersizProgram2] ([ID], [Gün], [Egzersiz], [Set], [Tekrar], [Not]) VALUES (2, NULL, N'Dumbbell Fly ', N'3', N'10', NULL)
INSERT [dbo].[EgzersizProgram2] ([ID], [Gün], [Egzersiz], [Set], [Tekrar], [Not]) VALUES (3, N'Salı', N'Barbell Squat ', N'4', N'8', NULL)
SET IDENTITY_INSERT [dbo].[EgzersizProgram2] OFF
GO
SET IDENTITY_INSERT [dbo].[EgzersizProgram3] ON 

INSERT [dbo].[EgzersizProgram3] ([ID], [Gün], [Egzersiz], [Set], [Tekrar], [Not]) VALUES (1, N'Pazartesi	', N'Yürüyüş / Koşu	', N'1', N'30 dk', N'Orta tempoda
')
INSERT [dbo].[EgzersizProgram3] ([ID], [Gün], [Egzersiz], [Set], [Tekrar], [Not]) VALUES (2, NULL, N'Şınav', N'3', N'10', NULL)
INSERT [dbo].[EgzersizProgram3] ([ID], [Gün], [Egzersiz], [Set], [Tekrar], [Not]) VALUES (3, N'Çarşamba', N'Squat', N'3', N'15', NULL)
SET IDENTITY_INSERT [dbo].[EgzersizProgram3] OFF
GO
SET IDENTITY_INSERT [dbo].[İcecekFiyat] ON 

INSERT [dbo].[İcecekFiyat] ([ID], [Ürün], [Fiyat]) VALUES (1, N'Su', N'10 TL')
INSERT [dbo].[İcecekFiyat] ([ID], [Ürün], [Fiyat]) VALUES (2, N'Maden Suyu', N'15 TL')
INSERT [dbo].[İcecekFiyat] ([ID], [Ürün], [Fiyat]) VALUES (3, N'Enerji İçeceği', N'30 TL')
SET IDENTITY_INSERT [dbo].[İcecekFiyat] OFF
GO
SET IDENTITY_INSERT [dbo].[Kullanicilar] ON 

INSERT [dbo].[Kullanicilar] ([ID], [KullaniciAdi], [Sifre], [Ad], [Soyad], [Cinsiyet], [DogumTarihi], [Mail], [Kilo], [Program]) VALUES (1, N'emir', N'123', N'Emirhan', N'Yerlikaya', N'Erkek', CAST(N'2003-08-08' AS Date), N'a@gmail.com', N'72', N'Kardiyo Programı')
INSERT [dbo].[Kullanicilar] ([ID], [KullaniciAdi], [Sifre], [Ad], [Soyad], [Cinsiyet], [DogumTarihi], [Mail], [Kilo], [Program]) VALUES (4, N'mehmet1234', N'123', N'Mehmet', N'Ay', N'Erkek', CAST(N'2001-08-09' AS Date), N'a@gmail.com', N'75', N'Genel Sağlık Programı')
SET IDENTITY_INSERT [dbo].[Kullanicilar] OFF
GO
SET IDENTITY_INSERT [dbo].[Uyeler] ON 

INSERT [dbo].[Uyeler] ([ID], [Ad], [Soyad], [Cinsiyet], [DoğumTarihi], [Mail], [Kilo], [TelNo], [ÜyelikBitiş], [ÜyelikTürü], [Durum]) VALUES (2, N'Baran', N'Aktaş', N'Erkek', CAST(N'2005-07-14' AS Date), N'aaa@gmail.com', N'73', N'5050505   ', CAST(N'2025-06-18' AS Date), N'3 Aylık', 1)
INSERT [dbo].[Uyeler] ([ID], [Ad], [Soyad], [Cinsiyet], [DoğumTarihi], [Mail], [Kilo], [TelNo], [ÜyelikBitiş], [ÜyelikTürü], [Durum]) VALUES (3, N'Emirhan', N'Yerlikaya', N'Erkek', CAST(N'2002-08-16' AS Date), N'a@gmail.com', N'71', N'34534     ', CAST(N'2026-02-07' AS Date), N'6 Aylık', 1)
SET IDENTITY_INSERT [dbo].[Uyeler] OFF
GO
SET IDENTITY_INSERT [dbo].[UyelikFiyat] ON 

INSERT [dbo].[UyelikFiyat] ([ID], [Üyelik], [Fiyat]) VALUES (1, N'1 Aylık', N'1500 TL')
INSERT [dbo].[UyelikFiyat] ([ID], [Üyelik], [Fiyat]) VALUES (2, N'3 Aylık', N'4000 TL')
INSERT [dbo].[UyelikFiyat] ([ID], [Üyelik], [Fiyat]) VALUES (3, N'6 Aylık', N'6400 TL')
SET IDENTITY_INSERT [dbo].[UyelikFiyat] OFF
GO
USE [master]
GO
